.form {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 2em;
    flex-direction: column;
}

.input {
    border: 1px solid #bbb4b4;
    color: black;
    outline: none;
    padding: 4px 8px;
}