.mainHeader{
    border-top: 1px solid  rgba(215, 214, 214, 1);
    border-bottom: 1px solid  rgba(215, 214, 214, 1);
}

.Workheader{
    border-right: 1px solid  rgba(215, 214, 214, 1);
    border-left: 1px solid  rgba(215, 214, 214, 1);
    margin: 0 5%;
    font-weight: 500;
    color: #7f7e7f;
    padding: 22px 18px;
}